<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.csee.americathegame">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/americatheguide_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Redscare"
            android:screenOrientation="landscape" ></activity>
        <activity android:name=".InternetServicesAgeProhibition"
            android:screenOrientation="landscape" />
        <activity android:name=".HaveAFamily"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HaveFreedom"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GetAPlaceToLive"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GetAJob"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GetCollegeEducation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SeeButDontKeepNostalgia"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChooseCreed"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChooseEthnicity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>